body {
    background-color: #0d1117;
    color: white;
}

h2{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 50px;
}

p{
    
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;

}

#txt{
    
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;

}

#cours {
    border: solid;
    border-radius: 12px;
    border-color: white;
    background-color: #333;
    text-align: left;
    padding: 20px;
    width: 70%;/* ta valeur */
    margin: auto;
}

#txt {
    border: solid;
    border-radius: 12px;
    border-color: white;
    background-color: #333;
    text-align: center;
    padding: 20px;
    width: 80%;/* ta valeur */
    margin: auto;
}

#inpDIV {
    border: solid;
    border-radius: 12px;
    border-color: white;
    background-color: #333;
    text-align: center;
    padding: 20px;
    padding-bottom: 0%;
    width: 30%;/* ta valeur */
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    min-height: 80px;
}

#inpDIVAllWords {
    border: solid;
    border-radius: 12px;
    border-color: white;
    background-color: #333;
    text-align: center;
    padding: 20px;
    width: 30%;/* ta valeur */
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.diff {
    text-align: center;
}

.btnDiff {
    background-color: #333;
    border: none;
    color: white;
    margin: 50px;
    padding: 15px 52px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: solid;  
    border-radius: 10px 10px 10px 10px;
    border-color: rgb(153, 151, 151);
}

#validation {
    text-align: center;
}

#btnValid {
    background-color: #333;
    border: none;
    color: white;
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 15px 102px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: solid;  
    border-radius: 10px 10px 10px 10px;
    border-color: rgb(153, 151, 151);
}

#btnNext {
    background-color: #333;
    border: none;
    color: white;
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 15px 102px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: solid;  
    border-radius: 10px 10px 10px 10px;
    border-color: rgb(153, 151, 151);
}

#btnSuivant {
    background-color: #333;
    border: none;
    color: white;
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 15px 102px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: solid;  
    border-radius: 10px 10px 10px 10px;
    border-color: rgb(153, 151, 151);
}

#recapScore {
    border: solid;
    border-radius: 12px;
    border-color: white;
    background-color: #333;
    padding: 20px;
    text-align: center;
    width: 70%;/* ta valeur */
    margin: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

a{
    color:white;
}

.questions {
    text-align: center;
}

.divquestion {
    position: relative;
    border: solid;
    border-radius: 6px;
    border-color: white;
    background-color: rgb(88, 86, 86);
    padding: 30px;
    width: 60%;/* ta valeur */
    margin: auto;
    margin-top: 20px;
    height: 300px;
}

#position {
    color: white;
}

.cookies {
    float:inline-start;
}

.inpanswer {
    color: white;
    background-color: #333;
    border: 1px 1px 1px 1px;
    padding: 7px;
    border-color: white;
    width: 150px;
}

#recapScore{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    

}

td{
    width: 100px;
}

@media (max-width: 640px) {
    .btnDiff {
        margin: 10px;
        margin-bottom: 20px;
    }

    h2 {
        font-size: 30px;
    }

    #inpDIVAllWords {
        width: 60%;
    }

    #inpDIV {
        width: 60%;
    }

    #btnValid {
        margin-top: 10px;
    }
}
